{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock title%}

{% block content %}
    <h2>Sign up</h2>
        <form>

            <button class="btn btn-warning">
                <a href="{% url 'social:begin' 'facebook' %}" style="color: #000000">Login with Facebook</a>
            </button>
        </form>

        <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success" type="submit">Sign Up</button>

    </form>
{% endblock content %}